<html>

<head>
    <title>Form, Nav and Layouting</title>
    <link rel="stylesheet" href="public/css/style.css" />
    <link rel="stylesheet" href="public/css/navbar.css" />
</head>

<body>
    <nav>
        <ul>
            <li><img src="public/assets/DumbWays logo.png" alt="" /></li>
            <li><a href="/"><b>Home</b></a></li>
            <li><a href="/myproject">Add My Project</a></li>
            <li style="width: 50%; justify-content: flex-end;"></li>
            <a href="/contactme">
                <button class="btn-contactme">Contact Me</button>
            </a>
            </div>
    </nav>

    <div style="display: flex; flex-direction: column; padding: 50px 0; justify-content: center;">
        <div class="container-1">
            <div class="set-paragraph">
                <div>
                    <h1 style="font-weight: 900;">Hi Welcome to my hut</h1>
                </div>
                <div>
                    <h3 style="font-weight: 400;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique
                        purus orci libero agestas ut. Augue suspendisse blandit lorem massa
                        ipsum, urna, egestas mi, lacinia. Dui fusce etiam libero, lectus amet,
                        ristus molestie malesuada. Odio nam purus consectetur euismod
                        congue leo quisque. Turpis amet sollicitudin nunc non in lectus dolor
                        amet. Amet ullamcorper faucibus tincidunt accumsan ac adipiscing
                        arcu. Donec tristique at proin maecenas. Ante elit at iaculis ac sit.
                    </h3>
                </div>
                <div>
                    <a href="https://wa.me/081213857550">
                        <button class="btn-contact">Contact</button>
                </div>
                <div class="icon-download">
                    <a class="download" href="CV Ihsan Dwi Cahyo.pdf">download CV</a>
                    <a href="CV Ihsan Dwi Cahyo.pdf"><img src="public/image/icon-download.png" alt="" /></a>
                </div>

                <div>
                    <div class="icon-social-media">
                        <a href="https://id.linkedin.com/in/ihsan-dwi-cahyo-379b55219"><img
                                src="public/image/icon-linkedin.png" alt="" /></a>
                        <a href="https://www.instagram.com/iksndc_/"><img src="public/image/icon-instagram.png"
                                alt="" /></a>
                        <a href="https://web.facebook.com/ikhsan.dwicahyo/?_rdc=1&_rd"><img
                                src="public/image/icon-facebook.png" alt="" /></a>
                        <a href="https://twitter.com/kochen6oren"><img src="public/image/icon-twitter.png" alt="" /></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="public/image/Photo Ihsan Dwi Cahyo.jpg" alt="" />
                    <h2>Ihsan Dwi Cahyo</h2>
                    <p>Fullstack Developer</p>
                </div>
            </div>
        </div>

        <div id="content" class="container-2">
            <!-- dynamic content would be here -->
            <h1 class="set-title">MY PROJECT</h1>
            <!-- baris 1 -->
            <div
                style="display: flex; flex-direction: row; justify-content: center; padding: 10px; margin-left: 5%; margin-right: 7%;">
                <div class="set-content">
                    <a href="/blog-detail/123">
                        <div style="width: 93%; margin: auto; margin-top: 20px;">
                            <img style="width: 100%; height: 300px; border-radius: 12px; object-fit: contain;"
                                src="public/image/home-1.png" alt="" />
                        </div>
                        <div style="width: 93%; margin: auto;">
                            <h3 style="font-weight: 700; font-size: 16  pt;">DumbWays Mobile App - 2021</h3>
                            <p style="color: gray; font-size: 14pt;">durasi: 3 bulan</p>
                        </div>
                        <div style="width: 93%; margin: auto;">
                            <h4 style="font-weight: 400; font-size: 14pt;">
                                App that used for dumbways student, it was deployed and can downloaded on playstore.
                                Happy
                                downloaded
                            </h4>
                        </div>
                        <div>
                            <img style="height: 30px; margin: 20px;" src="public/assets/andro1.png" alt="" />
                            <img style="height: 30px; margin: 20px;" src="public/assets/andro2.png" alt="" />
                            <img style="height: 30px; margin: 20px;" src="public/assets/andro3.png" alt="" />
                        </div>
                        <div style="width: 93%; display: flex; flex-direction: row; margin: auto;">
                            <button class="btn-editdelete">edit</button>
                            <button class="btn-editdelete">delete</button>
                        </div>
                    </a>
                </div>

                <div class="set-content">
                    <a href="/blog-detail">
                        <div style="width: 93%; margin: auto; margin-top: 20px;">
                            <img style="width: 100%; height: 300px; border-radius: 12px; object-fit: contain;"
                                src="public/image/home-2.png" alt="" />
                        </div>
                        <div style="width: 93%; margin: auto;">
                            <h3 style="font-weight: 700; font-size: 16  pt;">DumbWays Mobile App - 2021</h3>
                            <p style="color: gray; font-size: 14pt;">durasi: 3 bulan</p>
                        </div>
                        <div style="width: 93%; margin: auto;">
                            <h4 style="font-weight: 400; font-size: 14pt;">
                                App that used for dumbways student, it was deployed and can downloaded on playstore.
                                Happy
                                downloaded
                            </h4>
                        </div>
                        <div>
                            <img style="height: 30px; margin: 20px;" src="public/assets/andro1.png" alt="" />
                            <img style="height: 30px; margin: 20px;" src="public/assets/andro2.png" alt="" />
                            <img style="height: 30px; margin: 20px;" src="public/assets/andro3.png" alt="" />
                        </div>
                        <div style="width: 93%; display: flex; flex-direction: row; margin: auto;">
                            <button class="btn-editdelete">edit</button>
                            <button class="btn-editdelete">delete</button>
                        </div>
                    </a>
                </div>

                <div class="set-content">
                    <a href="/blog-detail">
                        <div style="width: 93%; margin: auto; margin-top: 20px;">
                            <img style="width: 100%; height: 300px; border-radius: 12px; object-fit: contain;"
                                src="public/image/home-3.png" alt="" />
                        </div>
                        <div style="width: 93%; margin: auto;">
                            <h3 style="font-weight: 700; font-size: 16  pt;">DumbWays Mobile App - 2021</h3>
                            <p style="color: gray; font-size: 14pt;">durasi: 3 bulan</p>
                        </div>
                        <div style="width: 93%; margin: auto;">
                            <h4 style="font-weight: 400; font-size: 14pt;">
                                App that used for dumbways student, it was deployed and can downloaded on playstore.
                                Happy
                                downloaded
                            </h4>
                        </div>
                        <div>
                            <img style="height: 30px; margin: 20px;" src="public/assets/andro1.png" alt="" />
                            <img style="height: 30px; margin: 20px;" src="public/assets/andro2.png" alt="" />
                            <img style="height: 30px; margin: 20px;" src="public/assets/andro3.png" alt="" />
                        </div>
                        <div style="width: 93%; display: flex; flex-direction: row; margin: auto;">
                            <button class="btn-editdelete">edit</button>
                            <button class="btn-editdelete">delete</button>
                        </div>
                    </a>
                </div>
            </div>

            <!-- baris 2 -->
            <div
                style="display: flex; flex-direction: row; justify-content: center; padding: 10px; margin-left: 5%; margin-right: 7%;">
                <div class="set-content">
                    <a href="/blog-detail">
                        <div style="width: 93%; margin: auto; margin-top: 20px;">
                            <img style="width: 100%; height: 300px; border-radius: 12px; object-fit: contain;"
                                src="public/image/home-4.png" alt="" />
                        </div>
                        <div style="width: 93%; margin: auto;">
                            <h3 style="font-weight: 700; font-size: 16  pt;">DumbWays Mobile App - 2021</h3>
                            <p style="color: gray; font-size: 14pt;">durasi: 3 bulan</p>
                        </div>
                        <div style="width: 93%; margin: auto;">
                            <h4 style="font-weight: 400; font-size: 14pt;">
                                App that used for dumbways student, it was deployed and can downloaded on playstore.
                                Happy
                                downloaded
                            </h4>
                        </div>
                        <div>
                            <img style="height: 30px; margin: 20px;" src="public/assets/andro1.png" alt="" />
                            <img style="height: 30px; margin: 20px;" src="public/assets/andro2.png" alt="" />
                            <img style="height: 30px; margin: 20px;" src="public/assets/andro3.png" alt="" />
                        </div>
                        <div style="width: 93%; display: flex; flex-direction: row; margin: auto;">
                            <button class="btn-editdelete">edit</button>
                            <button class="btn-editdelete">delete</button>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    </div>
    </div>
</body>

</html>