@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e3e7eb;
}

.bg-orange {
    background-color: black !important;
}

.nav-item a.active {
    color: black !important;
}